{% extends 'main.html' %}
{% block content %}
<p> you are on the {{page}} page </p>

{% if number > 10 %}
    <p> number is grater than 10</p>
{% elif number == 10 %}
    <p> number is exactly 10 </p>
{% else %}
    <p> number is less than 10</p>
{% endif %}

<h1>Project Template</h1>

<hr>

<h1>Project</h1>

<ul>
    {% for project in projects %}
    <li> Id:<a href="{% url 'project' project.id %}"">{{project.title}}</a>----{{project.description}}</li>
    {% endfor %}
</ul>
{% endblock content %}
